button {
    background-color: skyblue;
    border: none;
    text-align: center;
    color: azure;
    padding: 16px 16px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    cursor: pointer;
}

.main {
    margin: auto;
    width: 50%;
}

.text {
    text-align: center;
    color: black;
    font-family: monospace;
}

body {
    background-color: azure;
}