button {
    box-shadow: 5px 5px 0px 3px #1f3b5294;
    background-color: #4682b4;
    border: none;
    text-align: center;
    color: #87CEEB;
    padding: 16px 16px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    cursor: pointer;
}

.main {
    margin: auto;
    width: 50%;
}

.text {
    font-size: 16px;
    text-align: center;
    color: #87CEEB;
    font-family: monospace;
}

body {
    background-color: #2e5779;
}