.main {
    margin: auto;
    width:85%;
}

.text {
    font-size: 10px;
    text-align: center;
    color: #000000;
    font-family: monospace;
}

img {
    width: 20%;
    height: auto;
}

.ctext {
    padding-left: 20px;
    text-align: left;
    color: #000000;
    font-family: monospace;
}

.scontainers {
    border: 2px solid #000000;
    padding: 11px 21px 11px 0px;
    image-rendering: pixelated;
    width:  fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0px 1px #1f3b5294;
}

.containers {
    border: 2px solid #000000;
    padding: 15px 27px 6px 15px;
    image-rendering: pixelated;
    width:  fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0px 1px #1f3b5294;
    transform: translateY(20px);
    opacity: 0;
}


.status {
    padding-left: 20px;
}

body {
   color: #ffffff;
}
