.main {
    margin: auto;
    width:85%;
}

.text {
    font-size: 10px;
    text-align: center;
    color: #87CEEB;
    font-family: monospace;
}

.ctext {
    padding-left: 20px;
    text-align: left;
    color: #87CEEB;
    font-family: monospace;
}

.scontainers {
    border-image: url(button.png) 21 21 21 21 fill / 21px 21px 21px 21px;
    padding: 11px 21px 11px 0px;
    image-rendering: pixelated;
    width:  fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0px 1px #1f3b5294;
}

.containers {
    border-image: url(windows.png) 15 27 6 15 fill / 15px 27px 6px 15px;
    padding: 15px 27px 6px 15px;
    image-rendering: pixelated;
    width:  fit-content;
    height: fit-content;
    box-shadow: 5px 5px 0px 1px #1f3b5294;
    transform: translateY(20px);
    opacity: 0;
}


.status {
    padding-left: 20px;
}

body {
    background-image: linear-gradient(#315d81,#294049);
}
