.main {
    margin: auto;
    width:85%;
}

.text {
    font-size: 10px;
    text-align: center;
    color: #87CEEB;
    font-family: monospace;
}

.ctext {
    padding-left: 20px;
    text-align: left;
    color: #87CEEB;
    font-family: monospace;
}

.scontainers {
    padding-right: 20px;
    width:  fit-content;
    height: fit-content;
    border: 2px solid #87CEEB;
    box-shadow: 5px 5px 0px 3px #1f3b5294;
}

.containers {
    width:  fit-content;
    height: fit-content;
    padding-right: 20px;
    border: 2px solid #87CEEB;
    box-shadow: 5px 5px 0px 3px #1f3b5294;
}

.status {
    padding-left: 20px;
}

body {
    background-color: #2e5779;
}
